<% glossary.definitions_or_new.each do |definition| %>
  <% definition.meanings_or_new.each do |meaning| %>
    <tr>
      <td><%= glossary.name %></td>
      <td><%= definition.reading %></td>
      <td><%= meaning.content %></td>
    </tr>
  <% end %>
<% end %>
